<?xml version="1.0" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="..\logs\nlogs.log"
>

  <!-- 定义日志输出的根目录为web目录的上级目录 -->
  <variable name="logdir" value="..\logs"/>

  <!--定义日志的目标/输出-->
  <targets async="false">

    <default-target-parameters
      type="File"
      archiveAboveSize="50485760"
      maxArchiveFiles="50"
      archiveNumbering="Rolling"
      keepFileOpen="false"
      layout="${date:format=HH\:mm\:ss\:ffff}:[${level}][${logger}] ${callsite} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}"/>

    <!--屏幕彩色打印消息-->
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss\:ffff}:[${level}] ${message}"/>


    <!--保存至按类名命名的日志文件中 | ${level:uppercase=false:padding=-5} | -->
    <target name="classLog" xsi:type="File" maxArchiveFiles="30"
            fileName="${logdir}\${date:format=yyyy_MM}\${date:format=yyyy_MM_dd}_${level}_${logger}.log"
            layout="${date:format=HH\:mm\:ss\:ffff}: ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

    <target name="traceLog" xsi:type="File" maxArchiveFiles="30"
            fileName="${logdir}\${date:format=yyyy_MM}\${date:format=yyyy_MM_dd}_${level}.log"
            layout="${date:format=HH\:mm\:ss\:ffff}:[${level}][${logger}] ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}" />

    <!-- 异步发送 -->
    <target name="asyncLog"
            xsi:type="AsyncWrapper"
            overflowAction="Discard"
            queueLimit="10000"
            batchSize="100"
            timeToSleepBetweenBatches="2000">
      <!-- 发送邮件   -->
      <target name="email" xsi:type="Mail"
              header=""
              footer=""
              layout="${longdate}:[${level}] ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}"
              html="false"
              addNewLines="true"
              subject="${date:format=HH\:mm\:ss}[${level}]:${message}"
              to="log@devske.com"
              from="IESLogger&lt;risesaas@163.com&gt;"
              body="${longdate}:[${level}][${logger}] ${message} ${onexception:${exception:format=tostring} ${newline}${stacktrace}${newline}"
              smtpUserName="risesaas@163.com"
              enableSsl="false"
              smtpPassword="2BhzjgUDfTTZNRrM"
              smtpAuthentication="Basic"
              smtpServer="smtp.163.com"
              smtpPort="25" />


    </target>


  </targets>



  <rules>

    <logger name="*" minlevel="Trace" writeTo="console,traceLog" />



    <!-- 业务日志 -->
    <logger name="App.Biz.*" minlevel="Trace" writeTo="console,classLog" />



    <!-- 邮件提醒 -->
    <logger name="*" minlevel="Warn" writeTo="asyncLog" />

  </rules>




</nlog>